.mstheme
{
	nav-banner-image: url(glabanr.gif);
	separator-image: url(glarule.gif);
	list-image-1: url(glabul1.gif);
	list-image-2: url(glabul2.gif);
	list-image-3: url(glabul3.gif);
	navbutton-horiz-pushed: url(glahsel.gif);
	navbutton-horiz-normal: url(glahbtn.gif);
	navbutton-vert-pushed: url(glavsel.gif);
	navbutton-vert-normal: url(glavbtn.gif);
	navbutton-home-normal: url(glahom.gif);
	navbutton-up-normal: url(glaup.gif);
	navbutton-prev-normal: url(glabck.gif);
	navbutton-next-normal: url(glanxt.gif);
}
.mstheme-bannertxt
{
	font-family: Verdana, Arial, Helvetica;
	font-size: 6;
	text-align: left;
	color: rgb(0,0,0);
}
.mstheme-horiz-navtxt
{
	font-family: Arial, Arial, Helvetica;
	font-size: 2;
	text-align: left;
	color: rgb(0,0,0);
}
.mstheme-vert-navtxt
{
	font-family: Arial, Arial, Helvetica;
	font-size: 2;
	text-align: left;
	color: rgb(0,0,0);
}
.mstheme-navtxthome
{
	font-family: Arial, Arial, Helvetica;
	font-size: 1;
	color: rgb(0,0,0);
}
.mstheme-navtxtup
{
	font-family: Arial, Arial, Helvetica;
	font-size: 1;
	color: rgb(0,0,0);
}
.mstheme-navtxtprev
{
	font-family: Arial, Arial, Helvetica;
	font-size: 1;
	color: rgb(0,0,0);
}
.mstheme-navtxtnext
{
	font-family: Arial, Arial, Helvetica;
	font-size: 1;
	color: rgb(0,0,0);
}
UL
{
	list-style-image:url(glabul1.gif);
}
UL UL
{
	list-style-image:url(glabul2.gif);
}
UL UL UL
{
	list-style-image:url(glabul3.gif);
}
